html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  text-align: center;
  background-color: rgb(18, 55, 55);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    133deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(75, 131, 150, 0.9362092391304347) 48%,
    rgba(0, 212, 255, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  min-height: 100%;
  margin-bottom: 50px;
}

.push {
  height: 50px;
}

.card {
  background-color: aquamarine;
}

.todo {
  width: 30%;
  background-color: aquamarine;
}

.allTodosCont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.addTodo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addTodo:hover {
  background-color: beige;
  cursor: pointer;
  border-radius: 5px;
}

.addTodo h1 {
  color: red;
  font-size: 500%;
}

.form-control {
  text-align: center;
}

@keyframes slideIn {
  0% {
    transform: translateX(-250%);
  }
  100% {
    transform: translateX(0%);
  }
}

#homeCont {
  position: relative;
  height: 100vh;
}

#homeCard1 {
  position: absolute;
  bottom: 60%;
  left: 32%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 255, 153);
  animation: 1s ease-out 0s 1 slideIn;
}

#homeCard2 {
  position: absolute;
  bottom: 40%;
  left: 25%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 255, 153);
  animation: 2s ease-out 0s 1 slideIn;
}

@media only screen and (max-width: 450px) {
  .allTodosCont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .todo {
    width: 80%;
  }

  .regCard {
    width: 80%;
  }

  .loginCard {
    width: 80%;
  }
}
